body{
 background-image: url('../imagenes/fondo6.jpg');
 background-repeat: no-repeat;
 overflow: hidden;
 background-size: cover;
 background-color:lightgray;
}
#boton1{
background: url("../imagenes/login3.jpg") center;
float: right; 10px;
padding: 50px;
margin:300px;
background-repeat: no-repeat;
overflow: hidden;
background-size: cover;
background-size: 100%; 100%;
border: none;
cursor: pointer;
}

#boton2{
  background: url("../imagenes/login3.jpg") center;
  float: left;
  padding: 50px;
  margin:170px;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  cursor: pointer;

}
/*iconos redes1*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#botonMas{
    display: none;
}
.contenedor{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.redes a, .botonMas label{
    display: block;
    text-decoration: none;
    background: #E7E37C ;
    color: black;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;

}
.redes a:hover{
    background: #7CE3E7  ;
    color:#5B12F9;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#botonMas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.botonMas label{
    cursor: pointer;
    background: #F8FF1D;
    font-size: 23px;
}
#botonMas:checked ~ .botonMas label{
    transform: rotate(135deg);
    font-size: 25px;
}

/*iconos redes2*/
#botonMas2{
    display: none;
}
.contenedor2{
    position: fixed;
    bottom: 20px;
    left:  20px;
}
.redes a, .botonMas2 label{
    display: block;
    text-decoration: none;
    background: #E7E37C ;
    color: black;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;

}
.redes a:hover{
    background: #7CE3E7  ;
    color:#5B12F9;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#botonMas2:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.botonMas2 label{
    cursor: pointer;
    background: #F8FF1D;
    font-size: 23px;
}
#botonMas2:checked ~ .botonMas2 label{
    transform: rotate(135deg);
    font-size: 25px;
}
